:root {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: darkblue;
}

.nome {
  text-decoration: none;
  color: white;
  text-align: center;
}

.desc {
  text-decoration: none;
  color: white;
  text-align: center;
}